@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family:Roboto,sans-serif;
}

a{
    text-decoration: none;
    color:#e5e7eb;
}

.header{
    display: flex;
    padding: 8px;
    background-color: #1F2937;
    font-size: 24px;
    color: #f9faf8
}

.logo{
    flex:1 1 0;
    text-align: center;
}
.right-links{
    font-size: 18px;
    display: flex;
    flex:1 1 0;
    padding: 0px;
    justify-content: center;
    gap:16px;
    color:#e5e7eb;
}

.content{
    display: flex;
    background-color: #1F2937;
    flex-shrink: 1;
    margin-bottom: 32px;
    height: 300px;
}

.left-side{
    flex:1 1 0;
    display: flex;
    padding: 16px;
    justify-content: center;
}

.left-side-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    row-gap: 8px;
}
.left-side-container div{
    width:400px;
}

.right-side{
    flex:1 1 0;
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 50px;
    padding-left: 90px;
    padding-right: 90px;
}

.place-holder{
    background-color: gray;
    flex:1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#e5e7eb
}

#hero{
    font-size: 48px;
    flex-shrink: 1;
    font-weight: bold;
    color: #f9faf8;
}

#desc{
    flex-shrink: 1;
    color: #f9faf8;
}


.first-button{
    background-color: #3882f6;
    border:none;
    border-radius: 8px;
    padding: 5px 32px;
    color:#e5e7eb;
}

.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 30px;
}

.images{
    display:flex;
    flex:1;
    gap:50px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.item{
    width:130px ;
    font-size: medium;
    font-weight: 300;
    color: #1F2937;
    flex:1 1 0;
}

.place-holders{
    width:130px;
    height: 130px;
    border: 3px solid rgb(92, 92, 245);
    border-radius: 6px;
    margin-bottom: 8px;
}

.quote-container{
    width:700px;
    display: flex;
    flex-direction: column;
    gap:8px;
}

.author{
    align-self: flex-end;
    margin-right:30px;
}

.middle{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quote{
    background-color: #e5e7eb;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.sign-container{
    display: flex;
    width:700px;
    background-color: #3882f6;
    padding: 32px;
    border-radius: 10px;
}

.right{
    flex:1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-button{
    padding:8px 32px;
    background-color: #3882f6;
    border: 2px solid white;
    border-radius: 8px;
}

.motivation{
    flex:4 1 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
    flex-direction: column;
}

button:hover{
    background-color: rgb(159, 2, 199);
    cursor: pointer;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:16px;
    background-color: lightgray;
}